{% load widget_tweaks %}
<div class="modal-header">
  <h3 class="modal-title">Thông tin Nhà Cung Cấp</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div>
    Tên Nhà cung cấp : <span class="badge badge-info">{{ nguoiban.ten_nb }}</span>
  </div>
  <div>
    SDT Nhà cung cấp : <span class="badge badge-info">{{ nguoiban.sdt_nb }}</span>
  </div>
  <div>
    Email Nhà cung cấp : <span class="badge badge-info">{{ nguoiban.email_nb }}</span>
  </div>
  <div>
    địa chỉ Nhà cung cấp : <span class="badge badge-info">{{ nguoiban.dia_chi_nb }}</span>
  </div>
  <div>
    ngày hợp tác Nhà cung cấp : <span class="badge badge-info">{{ nguoiban.ngay_hoptac }}</span>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
</div>